<h1>Categories</h1>

 <%= form_tag categories_path, :method => "get" do %>
   <%= text_field_tag :keyword %>
   <%= submit_tag 'Search' %>
 <% end %> 



    <% @categories.each do |cats|%>
        <h3><%=cats.name%></h3>
        
    <% end %>




